.container {
    text-align: center;
    padding: 20px;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    height: 100px;
    resize: none;
  }
  
  .ingredient-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Add gap between flex items */
  }
  
  .ingredient-row > div {
    flex: 1;
    margin-right: 10px;
  }
  
  .ingredient-row > div:last-child {
    margin-right: 0;
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'QuickSand', sans-serif;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .back-button {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #3498db;
    font-size: 18px;
  }
  
  .back-button:hover {
    text-decoration: underline;
  }